<div class="col-md-12 ">
  <div class="row box">
  <div class="box-inner col-md-4  col-md-4">
           <h1 class="title"> Welcome to SoAR  </h1>
           <h1 class="slogan">业界良心  </h1>
             <h3>
      我们做的是删去99.9%的钓鱼招聘信息       </h3>
      <h3> 只为你留下最真的
      </h3>
           <p class="lead">
             <%= link_to '马上应征', jobs_path, class: 'btn btn-danger' %>
           </p>
         </div>
       </div>
     </div>

     <div class="content-section-a">
        <div class="container">
          <div class="row">
            <div class="col-lg-5 col-sm-6">
              <hr class="section-heading-spacer">
              <div class="clearfix"></div>
              <h2 class="section-heading">500家大型企业同时在线招聘</h2>
              <p class="lead"> “最快5分钟，找到让你怦然心动的公司” </p>
            </div>
            <div class="col-lg-5 col-lg-offset-2 col-sm-6">
              <%= image_tag 'pic-1.jpg', class: 'img-responsive' %>
            </div>
          </div>
        </div>
      </div>

      <div class="content-section-b">
        <div class="container">
          <div class="row">
            <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
              <hr class="section-heading-spacer">
              <div class="clearfix"></div>
              <h2 class="section-heading"> 19k高薪岗位正在被热搜</h2>
              <p class="lead"> “大城市的快节奏，小城市的慢生活，你热爱的城市有没有上榜呢” <a target="_blank" href="http://localhost:3000/jobs/2/resumes/new"></p>
            </div>
            <div class="col-lg-5 col-sm-pull-6  col-sm-6">
              <%= image_tag 'pic-2.jpg', class: 'img-responsive' %>
            </div>
          </div>
        </div>
      </div>

      <div class="content-section-a">
        <div class="container">
          <div class="row">
            <div class="col-lg-5 col-sm-6">
              <hr class="section-heading-spacer">
              <div class="clearfix"></div>
              <h2 class="section-heading">光传播的速度为299,792,458m/s</h2>
              <p class="lead">“投递简历最快也只需1秒”</p>点此编辑简历</p><p><a target="_blank" href="https://forum.qzy.camp/"></a></p>
            </div>
            <div class="col-lg-5 col-lg-offset-2 col-sm-6">
              <%= image_tag 'pic-3.jpg', class: 'img-responsive' %>
            </div>
          </div>
        </div>
      </div>

      <!--======== 热搜职位榜 =========-->


              <!--======== end 热门职位 =========-->


</br>
</br>
</br>
      <div class="container">
              <div class="row">
                   <div class="col-sm-6 col-md-3">
                      <div class="panel panel-default panel-card">
                          <div class="panel-heading">
                              <img src="https://unsplash.imgix.net/12/barley.jpg?q=75&fm=jpg&s=f39de5ca1970a13dbe6af6c86b3c47ec" />
                          </div>
                          <div class="panel-figure">
                              <img class="img-responsive img-circle" src="https://s3.amazonaws.com/uifaces/faces/twitter/adellecharles/73.jpg" />
                          </div>
                          <div class="panel-body">
                              <h4 class="panel-header">ANNA</h4>
                              <small>XX公司市场部经理</small>
                          </div>
                          <div class="panel-thumbnails">
                            <div class="row">
                              <p>以前在招聘网站上被假招聘信息所骗，心里有阴影，SoAR在这方面做的让我特别放心</p>
                            </div>
                          </div>
                      </div>
                  </div>


                  <div class="col-sm-6 col-md-3">
                      <div class="panel panel-default panel-card">
                          <div class="panel-heading">
                              <img src="https://unsplash.imgix.net/41/bXoAlw8gT66vBo1wcFoO_IMG_9181.jpg?q=75&fm=jpg&s=a760fd82863937c841f4b3870cdef011" />
                          </div>
                          <div class="panel-figure">
                              <img class="img-responsive img-circle" src="https://s3.amazonaws.com/uifaces/faces/twitter/josue/73.jpg" />
                          </div>
                          <div class="panel-body">
                              <h4 class="panel-header">SUNNY</h4>
                              <small>XX公司工程师</small>
                          </div>
                          <div class="panel-thumbnails">
                              <div class="row">
                                  <p>我在SoAR找到我现在的公司，发展前景和待遇我都很满意，招聘网站我推荐SoAR。</p>
                              </div>
                          </div>
                      </div>
                  </div>
                  <div class="col-sm-6 col-md-3">
                      <div class="panel panel-default panel-card">
                          <div class="panel-heading">
                              <img src="https://ununsplash.imgix.net/19/waves.JPG?q=75&fm=jpg&s=6f316bc8e1dc9887a7cebe0841096e99" />
                          </div>
                          <div class="panel-figure">
                              <img class="img-responsive img-circle" src="https://s3.amazonaws.com/uifaces/faces/twitter/mutlu82/73.jpg" />
                          </div>
                          <div class="panel-body">
                              <h4 class="panel-header">kimLIU</h4>
                              <small>XX公司销售代表</small>
                          </div>
                          <div class="panel-thumbnails">
                              <div class="row">
                                <p>这里有热心的师兄师姐提建议，让我找到了最适合自己的职业发展道路。</p>
                              </div>
                          </div>
                      </div>
                  </div>
                  <div class="col-sm-6 col-md-3">
                      <div class="panel panel-default panel-card">
                          <div class="panel-heading">
                              <img src="https://ununsplash.imgix.net/26/camera-keys.jpg?q=75&fm=jpg&s=b919d3158053cde8e9f0e37b4876c14f" />
                          </div>
                          <div class="panel-figure">
                              <img class="img-responsive img-circle" src="https://s3.amazonaws.com/uifaces/faces/twitter/nisaanjani/73.jpg" />
                          </div>
                          <div class="panel-body">
                              <h4 class="panel-header">Addle</h4>
                              <small>XX公司总监</small>
                          </div>
                          <div class="panel-thumbnails">
                              <div class="row">
                                  <p>SoAR的评论区反馈区总是特别活跃，我时常在这里看前面伙伴的面试经验，哈哈。</p>
                              </div>
                          </div>
                      </div>
                  </div>
              </br>
              </div>
          </div>
</br>
</br>
</br>


             <!--======== 合作伙伴 =========-->
                <section id="brand" class="our-brand">
                  <div class="container">
                    <div class="row">
                      <div class="row">
                        <div class="col-md-10 col-md-offset-1 text-center">
                          <h2 class="section-title">官方合作伙伴</h2>
                          <div class="short-line"></div>
                          <img src="http://ww2.sinaimg.cn/large/006tNbRwgy1feyw6kpa70j305k01egle.jpg" alt="华为">
                          <img src="http://ww1.sinaimg.cn/large/006tNbRwgy1feyw68k3qij305k01e743.jpg" alt="google">
                          <img src="http://ww4.sinaimg.cn/large/006tNbRwgy1feyw4i1jufj305k01e3yb.jpg" alt="eon">
                          <img src="http://ww1.sinaimg.cn/large/006tNbRwgy1feyw49gg26j305k01egld.jpg" alt="苹果">
                          <img src="http://ww3.sinaimg.cn/large/006tNbRwgy1feyw46wig8j305k01ejr7.jpg" alt="中国人寿">
                          <img src="http://ww4.sinaimg.cn/large/006tNbRwgy1feyw5pwjezj305k01edfm.jpg" alt="dior">
                          <img src="http://ww1.sinaimg.cn/large/006tNbRwgy1feyw3c46vqj305k01ejr8.jpg" alt="沃尔玛">
                          <img src="http://ww1.sinaimg.cn/large/006tNbRwgy1feyxclghe4j305k01e3yc.jpg" alt="建筑">
                          <img src="http://ww2.sinaimg.cn/large/006tNbRwgy1feyxcdgsk3j305k01e743.jpg" alt="微软">
                          <img src="http://ww3.sinaimg.cn/large/006tNbRwgy1feyxc448raj305k01e3yd.jpg" alt="中国中铁">
                          <img src="http://ww1.sinaimg.cn/large/006tNbRwgy1feyxbn9xkyj305k01emwy.jpg" alt="宝洁">
                          <img src="http://ww4.sinaimg.cn/large/006tNbRwgy1feyxq07nfvj305k01eq2r.jpg" alt="yiqi">
                          <img src="http://ww3.sinaimg.cn/large/006tNbRwgy1feyxbs2zv8g305k01e0r2.gif" alt="sony">
                          <img src="http://ww4.sinaimg.cn/large/006tNbRwgy1feyxmj25emj305k01emwz.jpg" alt="deguo">
