<table class="table table-boldered">
    <thead>
        <tr>
            <td>用户名</td>
            <td>注册邮箱</td>
        </tr>

    </thead>
    <tbody>
    <tr>
        <td>
            <%= current_user.username  %>
        </td>
        <td>
            <%= current_user.email %>
      </td>
</tbody>
