  <div class="footer">
      <div class="container-1">
    <footer class="text-centered">
 <div class="footer-below">
        <p class="text-center">Copyright ©2016 job-listing
            <br>Design by Hy
        </p>
    </div>
      </footer>
    </div>
